/* цвет основного текста (р) color:  #757575;
цвет заголовков и ссылок #212121;
цвет фона бади #FFFFFF
цвет ховера и эффектов #2196F3
цвет футера background: #2F303A;
цвет текста в футере (заголовки - color: #FFFFFF;
цвет имейла и телефона в футере - color: rgba(255, 255, 255, 0.6);
цвет копирайта color: rgba(255, 255, 255, 0.4);
var(--main-bg-color)  #FFFFFF;
 var(--main-txt-color) #757575 ;
 */

 

 :root {
  --main-bg-color: #ffffff;
  --main-txt-color: #757575;
  --h123-link-color: #212121;
  --hover-focus-color: #2196f3;
  --footer-bg-color: #2f303a;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: var(--main-bg-color);
  font-size: 14px;
  background: var(--main-bg-color);
  font-family: Roboto, sans-serif;
}

.container {
  margin-left: 215px;
  margin-right: 215px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}


main {
  outline: tomato;
}

img {
  display: block; 
  max-width: 100%;
  height: auto;
}
a {
  display: block;
}
button {
  margin: 0;
}


/* Page header */
.logo {
  color: var(--hover-focus-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  width: 153px;
  height: 1.19;
  margin-bottom: 25px;
}
/* main nav */

 .main-nav {
  display: flex;
  align-items: center;
  
} 
.studio {
  color: #212121;

}

.contacts {
  display: flex;
  list-style: none;
  margin-left: auto;
  
}

.contact-link {
  display: block;

  color: var(--main-txt-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  list-style: none;
  
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-focus-color);
  font-style: normal;
}





.contacts .header-contact+.header-contact {
  margin-left: 50px;
}



.nav-option {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  outline: solid 2px tomato;
  

}

.nav-option:hover,
.nav-option:focus {
  color: var(--h123-link-color);  
}
a {
    
  color: var(--h123-link-color);
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.header-contact {
 display: flex;
}
.nav-option {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.nav-option:hover,
.nav-option:focus {
  color: var(--hover-focus-color);
}
/* display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
} */



/* Page header */
.section-hero {
  text-align: center;
}
.hero-title {
    margin-bottom: 56px;
    margin-top: 0;


  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;    
  
  letter-spacing: 0.06em;
  background-color: var(--main-txt-color);
  color: var(--main-bg-color);
}


.order-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  width: 200px; 
  height: 50px; 
  padding: 10px 32px;
  margin-bottom: 200px;
  
    

  color: var(--main-bg-color);
  background: var(--hover-focus-color);

    
    font-size: 16px;
    line-height: 1.87;
    font-weight: bold;
}


.central-title {
  font-size: 36px;
  align-content: center;
  text-align: center;  
  margin-bottom: 50px; 
}


.section-team {
  background: #f5f4fa;
  padding-left: auto;
  padding-right: auto;
}



p {
  color: var(--main-txt-color);
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    list-style: none;
    display: flex;
  margin-left: 86px;
}
.item-nav {
  margin-right: 50px;
}

.item-nav:last-child {
  margin-right: 0;
}

.list-images {
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  list-style: none;
  justify-content: center;

 }

 .item-image {
  width: calc((100% - 90px) / 4);
  display: block;
  box-sizing: border-box;
  margin: 0;
  margin-right: 30px;
  text-align: center;
  justify-content: center;
}

.item-image:last-child {
margin-right: 0;
}

.section-title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.text-section {
  text-align: left;
}

 .list-work {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
 }

 .work-item {
   margin-right: 30px;
   width: calc((100% - 60px) / 3);
   display: block;
   
 }
 
 .work-item:last-child {
   margin-right:  0;
 }

 .section {
   padding-bottom: 94px;
   padding-top: 94px;
   
 } 


   

 .team-list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none; 
  justify-content: center; 
 }
.list {
    list-style: none;
}

.member {
  display: block;
  width: calc((100% - 90px) / 3);
  margin-right: 30px;
  background-color: var(--main-bg-color);


  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.member h3 {
  text-align: center;
}

.member p {
  text-align: center;
}

.member:last-child {
  margin-right: 0;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 24px;
}
.social-list li {
  margin-right: 23px;
}
.social-list:last-child {
  margin-right: 0px;
}

.client-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.client-item {
  margin-right: 30px;
}

.client-item:last-child {
  margin-right: 0px;
}
h1,
h2,
h3 {
  color: var(--h123-link-color);
  margin: 0;
  padding: 0;
}

.section-portfolio {
  padding-top: 100px;
}

.filter-button:hover,
.filter-button:focus {
  font-family: Roboto;
  background-color: var(--hover-focus-color);
}

.filter-item {
  margin-right: 8px;
}

.filter-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  

  background: #F5F4FA;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
 
}



.address {
  display: block;
  color: var(--main-bg-color);
  font-size: 14px;
  font-style: normal;
  margin-bottom: 9px;
  margin-top: 10px;
}

.tel-email {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
}

.join {
  display: block;
  color: var(--main-bg-color);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 21px;
  
}
.portfolio:hover,
.portfolio:focus,
.portfolio:active {
  color: var(--hover-focus-color);
  text-decoration: underline;
}

.products-white {
  color: var(--main-bg-color);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  height: 70px;
  line-height: 1.1;
  text-align: center;
  padding-top: 35px;
  margin: 0px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px
  
  
}

/* portfolio */

.list-buttons {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 50px;
  
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;

}

  
  


.blue-text:hover {
  background-color: var(--hover-focus-color);
  line-height: 1.55;
}



/*margin 30px */

.blue-text {
  margin:0;

  
 
}

.portfolio-item {
  
  display: block;
  box-sizing: border-box;
  width: calc((100% - 60px)/ 3);

  margin-right: 30px;
  margin-bottom: 30px;
  align-content: center;
  
  
  border-radius: 5px;
  border: 1px solid #EEEEEE;
  overflow: hidden;
}



.portfolio-item:nth-child(3n) {
  margin-right: 0;
}



.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-heading {
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
}



.port-text {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}
/* Footer */
footer {
  background-color: var(--footer-bg-color);
}

.footer-content {
  display: flex;
  justify-content: space-around;
 
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline;

}
.logo {
  margin-bottom: 10px;
}

.logo-address {
  padding-top: 56px;
}
.logo-footer {
  display: block;
  color: var(--primary-white-color);
  margin-top: 56px;
}
.studio-footer {
  color: var(--hover-focus-color);
}

.social-option:hover {
  background-color: var(--h123-link-color);
}

.studio-white {
  color: var(--main-bg-color);
}
.copyright {
  display: inline-block;
  text-align: center;
  justify-content: baseline;
   font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 2; 
  
 letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4); 
  
}

.submit {
  background-color: var(--hover-focus-color);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.email-footer {
  background-color: var(--footer-bg-color);
}